[submodule "vk/vk-cmd"]
	path = vk/vk-cmd
	url = https://github.com/tsaie79/vk-cmd.git
[submodule "vk/vk-cmd-swif"]
	path = vk/vk-cmd-swif
	url = https://github.com/tsaie79/vk-cmd-swif.git
[submodule "vk/virtual-kubelet-cmd"]
	path = vk/virtual-kubelet-cmd
	url = https://github.com/tsaie79/virtual-kubelet-cmd.git
[submodule "vk/J-proc-exporter"]
	path = vk/J-proc-exporter
	url = https://github.com/tsaie79/J-proc-exporter.git
[submodule "vk/JIRIAF-test-platform"]
	path = vk/JIRIAF-test-platform
	url = https://github.com/tsaie79/JIRIAF-test-platform.git
[submodule "JRM/virtual-kubelet-cmd"]
	path = JRM/virtual-kubelet-cmd
	url = https://github.com/tsaie79/virtual-kubelet-cmd.git
