[submodule "virtual-kubelet-cmd/virtual-kubelet-cmd"]
	path = virtual-kubelet-cmd/virtual-kubelet-cmd
	url = https://github.com/tsaie79/virtual-kubelet-cmd.git
	branch = no-vk-container
[submodule "virtual-kubelet-cmd/vk-cmd"]
	path = virtual-kubelet-cmd/vk-cmd
	url = https://github.com/tsaie79/vk-cmd.git
	branch = no-vk-container
[submodule "vk-cmd-swif"]
	path = virtual-kubelet-cmd/vk-cmd-swif
	url = https://github.com/tsaie79/vk-cmd-swif.git
[submodule "J-proc-exporter"]
	path = virtual-kubelet-cmd/J-proc-exporter
	url = https://github.com/tsaie79/J-proc-exporter.git
[submodule "virtual-kubelet-cmd/JIRIAF-test-platform"]
	path = virtual-kubelet-cmd/JIRIAF-test-platform
	url = https://github.com/tsaie79/JIRIAF-test-platform.git
	branch = test-ersap-wf-horizontal-scaling
