<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.component.css">

    <title>Document</title>
</head>

<body>

    
    
    <div class="container">
       
        
        
        <div class="columns is-centered">
            <div class="column is-4">
                <div class = "jlab-text is-size-4">Welcome to Jefferson Lab</div>
                <form action="" class="box">
                    <div class="field">
                        <label class="label">
                            Email
                        </label>
                        
                            <input type="email" class="input" placeholder="myemail@jlab.org">
                            
                        
                    </div>
                    <div class="field">
                        <label class="label">Password</label>
                       
                            <input type="password" class="input" placeholder="password">
                            
                       
                    </div>
                    <div class="field mt-5">
                        <label class="label">
                            <input type="checkbox" class="checkbox">
                            Prompt me to re-enter my password when using new services
                        </label>
                    </div>
                    <div class="field mt-5">
                        <button class="button is-success">Login</button>
                        <a href="#" class="has-text" id = "forget-password">Forgot Password?</a>

                    </div>
                    
                </form>
            </div>
        </div>
    </div>

</body>

</html>