

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="dashboard.component.css">

    <title>Document</title>
</head>

<body>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="app.component.html">
                <img src="https://jidp.jlab.org/idp/images/jlab-logo.png" width="100" height="40">
            </a>
    
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
    
    
    
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>
    
                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Help
                        </a>
                        <a class="navbar-item">
                            FAQ
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
    
                        <a class="button is-light">
                            Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="columns is-centered">
        <div class="column is-4">
            <div class="box">
                <div class="field">
    
    
                    <div class="buttons">
                        <button class="button is-fullwidth">Add Job</button>
                        <button class="button is-fullwidth">View Job Status</button>
                        <button class="button is-fullwidth">Visit Jlab</button> 
                        <button class="button is-fullwidth">More Info</button>
                    
                    </div>
    
    
                </div>
            </div>
        </div>
    </div>
  
</body>

</html>