

<div class="columns is-mobile is-centered mt-6 mb-6">Add and specify a new job you want to run on JIRIAF.</div>
    <form class="form">

        
        <div class="columns is-mobile is-centered">
            <div class="column is-half">
              <div class="field">
                <label class="label">Workflow</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Workflow">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-3">
            <div class="column is-half">
              <div class="field">
                <label class="label">Job Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Job Name">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label"> Antecedent</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter  Antecedent">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Condition</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Condition">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Features</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Features">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label"> Number of gpus</label>
                <div class="control">
                  <input class="input" type="text" placeholder=" Number of gpus">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Memory</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Memory">
                </div>
              </div>
            </div>
        </div>


        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Disk</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Disk">
                </div>
              </div>
            </div>
        </div>


        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label"> Exclusive</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Exclusive">
                </div>
              </div>
            </div>
        </div>


        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Input</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Input">
                </div>
              </div>
            </div>
        </div>


        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Output</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Output">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">stdin</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter stdIn">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">stdOut</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter stdOut">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Shell</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Shell">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Site</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Site">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Tag</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Tag">
                </div>
              </div>
            </div>
        </div>

        <div class="columns is-mobile is-centered mt-5">
            <div class="column is-half">
              <div class="field">
                <label class="label">Time</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Enter Time">
                </div>
              </div>
            </div>
        </div>


          
             
          
               
    
       
       
    
            
    </form>

    


      <div class="columns is-centered">
        <div class="column is-half is-offset-0.5" >
          <div class="buttons">
            <div class="control">
                <button class="button is-link mr-6 my-6">Submit</button>
              </div>
              <div class="control ">
                <button class="button is-link mr-6 my-6 is-danger ">Cancel</button>
              </div>
          </div>
        </div>
      </div>

